@import './variables.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 .5em;
  max-width: 600px;
  margin: 0 auto;
}

.mainImage {
  display: flex;
  justify-content: center;
  img {
    max-width: 341px;
  }
}

.title {
  margin-top: 30px;
  h1 {
    text-align: center;
    font-size: 1.4em;

    color: $brow;

    small {
      display: block;
    }
  }
}

.segonhaImage {
  text-align: center;
  img {
    margin: 1em auto;
    max-width: 160px;
  }
}

.input {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  
  > div {
    display: flex;
  }

  input {
    border-color: $brow;
    border-style: solid;
    border-width: 1px;
    padding: 25px 20px;
    border-radius: 20px 0 0 20px;
    border-right: 0px;
    flex: 1;
    outline: none;
  }

  label {
    margin-left: 15px;
  }

  button {
    background-color: $yellow;
    border: solid 1px $brow;
    padding: 0px 20px;
    border-radius: 0 20px 20px 0;
  }
}

.nome {
  font-weight: bold;
  text-align: center;
}

.footer {
  margin-top: 20px;
  img {
    width: 100%;
  }
}

.footerBar {
  background-color: $brow;
  margin-top: 20px;
  color: #000;
  font-size: .5em;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px 0;
}

.moldura {
  margin-top: 50px;

  span {
    margin-top: -30px;
    margin-left: -10px;
    position: absolute;

    img {
      height: 100px;
    }
  }

  div {
    width: 60px;
    height: 60px;
    overflow: hidden;
    background-color: #fff;
    justify-content: center;
    
    img {
      height: 60px;
    }
  }
}

.fixOnTop {
  padding: 0 20px;
}

.produtos {
  margin-top: 20px;
}

.produto {
  display: flex;
  border-bottom: solid 1px $brow;
  padding-bottom: 10px;

  &[data-selected=true] {
    background-color: $light;
    padding: 20px;
    border-radius: $radiosWidth;
    margin-top: 20px;
    button {
      display: none;
    }

    & div:last-child {
      justify-content: center;
      span {
        margin: 0px;
        margin-bottom: 10px;
      }
    }
  }
}

.productRequerent {
  font-size: .5rem;
  padding: 0 20px;
}

.productLine {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;

  span {
    margin-left: 5%;
    margin-top: 50px;
    width: 95%;
    font-size: 14px;
    background-color: #fff;
    padding: 2px 10px;
  }

  button {
    width: 100px;
  }
}

.btnAdicionar {
  margin-top: 20px;
  border: none;
  font-family: 'Rochester', cursive;
  background-color: transparent;
  span {
    background-color: transparent;
    font-size: 1em;
  }
}

.carrinho {
}

.presentes {
  background-color: $light;
  margin-top: 40px;
  padding: 20px;

  border-radius: $radiosWidth;

  
  strong {
    text-align: center;
    display: block;
    margin-bottom: 20px;
  }

  ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;

    flex-direction: column;

    li {
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $yellow;
      font-size: .7em;
      padding: 4px;
      margin-bottom: 10px;
      border-radius: $radiosWidth;
      padding: 0 20px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

      div {
        display: flex;
        img {
          margin-right: 10px;
        }
      }
    }
  }

  text-align: center;

  button {
    background-color: $yellow;
    border: solid 0px;
    padding: 2px 30px;
    border-radius: $radiosWidth;
    font-size: 1em;
    margin: 20px auto 0px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  }
}

.enviando {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px 0 30px;
  img {
    filter: saturate(10);
    max-width: 40px;
  }
}